* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.sidebar details[open] summary counter {
    margin-top: -4px;
}*/
 input[type=text] {
    color: #8c8c8c;
    background-color: #0d0e0e;
    border: 1px solid #363639;
    padding: 5px;
}
input[type=text]:focus {
    content:"";
}
section.single {
    background-color: #1e1e20;
    border-bottom: 1px solid #101111;
    border-top: 1px solid #252527;
    padding: 2px 5px 2px 5px;
    box-sizing: border-box;
}
section.single input[type=checkbox] + label {
    margin-top: -4px;
}
section.single input[type=text] {
    width: 112px;
    padding: 4px 30px 5px 5px;
    margin-left: 10px;
    content:"";
    height: 23px;
    box-sizing: border-box;
}
section.single trbutton {
    margin-left: -18px;
    /*vertical-align: middle;*/
    margin-top: 1px;
    position: absolute;
}
.sidebar {
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
}
.sidebar.open {
    margin-left: -299px;
    opacity: 0.5;
}
#panelToggle:after {
    width: 8px;
    height: 9px;
    display: block;
    float: right;
    content:"";
    margin-right: 8px;
    margin-top: 0px;
    background-image: url(../images/left-arrow.png);
    transition: -webkit-transform 0.3s ease-in-out;
}
#panelToggle:hover:after {
    background-position: 0 -10px;
}
#panelToggle:active:after {
    background-position: 0 0px;
}
#panelToggle.closed:after {
    -webkit-transform: rotate(180deg);
}
div.sidebar.open:hover #panelToggle:after {
    background-position: 0 -10px;
}
/*#panelToggle {
    -webkit-transform: rotate(180deg);
    background-color:#363639;
    cursor: pointer;
    margin-left: -6px;
    margin-right: 5px;
}
#panelToggle.closed {
    -webkit-transform: rotate(0deg);
    margin-left: 0px;
    margin-right: 0px;
}*/
 section.graph header span {
    vertical-align: top;
}
/**:focus, togglebutton input[type=radio]:checked+ label {
    outline-color: #c66707;
    outline-style: dotted;
    outline-width: 1px;
}*/
 table * {
    user-select: text !important;
    -webkit-user-select: text !important;
}
#chart {
    position:absolute;
}
