.RangeSliderMiddle {

	background-color: #333;
	word-spacing: -1;
	

	border-bottom: 1px solid #000;

	box-sizing: border-box;

}
.RangeSliderLeftButton, .RangeSliderRightButton {

	color: #ffffff;
	padding: 0px 0px;
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #38393c), color-stop(100%, #2e2e30));
	  -webkit-box-shadow: inset 0px 1px 0px 0px #464646;
	  box-sizing:border-box;
	word-spacing: -1;
}
.RangeSliderRightButton {
	 border-left: 1px solid #1a1a1c;
	 border-right: 1px solid #070707;
	 border-bottom: 1px solid #000;
}

.RangeSliderLeftButton {
	 border-right: 1px solid #1a1a1c;
	 border-bottom: 1px solid #000;
}
.RangeSliderLeftButton::before {
	width: 8px;
	height: 9px;
	display: block;
	content: "";
	margin-left: 6px;
	margin-top: 5px;
	background-image: url(../images/left-arrow.png);
}
.RangeSliderRightButton::before {
	width: 8px;
	height: 9px;
	display: block;
	content: "";
	margin-left: 5px;
	margin-top: 5px;
	background-image: url(../images/right-arrow.png);
}
.RangeSliderHandleLeftButton {
	 /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #38393c), color-stop(100%, #2e2e30)); */
	 border-left: 1px solid #1a1a1c;
	 border-right: 1px solid #0f0f10; 
	-webkit-box-shadow: inset 0px 1px 0px 0px #464548;
	 background-color: #000;
}
.RangeSliderHandleLeftButton::before {
	width: 12px;
	height: 9px;
	display: block;
	content: "";
	margin-left: 4px;
	margin-top: 5px;
	background-image: url(../images/gripper.png);
}
.RangeSliderHandleRightButton {	 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #38393c), color-stop(100%, #2e2e30));
	border-left: 1px solid #1a1a1c;
	border-right: 1px solid #0f0f10;
	-webkit-box-shadow: inset 0px 1px 0px 0px #464648;
}
.RangeSliderHandleRightButton::before {
	width: 12px;
	height: 9px;
	display: block;
	content: "";
	margin-left: 4px;
	margin-top: 5px;
	background-image: url(../images/gripper.png);
}

.RangeSliderLeftButton, .RangeSliderRightButton, .RangeSliderHandleRightButton, .RangeSliderHandleLeftButton {
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.05) 100%); /* gradient overlay */
    background-color: #2d2d2f;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
} 

.RangeSliderLeftButton:hover, .RangeSliderRightButton:hover, .RangeSliderHandleRightButton:hover, .RangeSliderHandleLeftButton:hover {
    background-color: #3a3a3c;
} 

.RangeSliderLeftButton:hover:before, .RangeSliderRightButton:hover:before, .RangeSliderHandleRightButton:hover:before, .RangeSliderHandleLeftButton:hover:before{
    background-position: 0 -10px !important;
} 

.RangeSliderLeftButton:active:before, .RangeSliderRightButton:active:before {
    background-position: 0 0px !important;
} 

.RangeSliderLeftButton:active, .RangeSliderRightButton:active {
    background-color: #3a3a3c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #242426), color-stop(1, #2d2d2f));
} 

.RangeSliderHandleRightButton:active, .RangeSliderHandleLeftButton:active {
	background: #ff9933;
}

.RangeSliderHandleRightButton:active:before, .RangeSliderHandleLeftButton:active:before{
    background-position: 0 -20px !important;
} 


.RangeSliderHandleMiddle {
	background: #49494c;
	opacity: 0.5;
}
 
.RangeSliderHandleMiddle:hover {
	background: #59595E;
}
 
.RangeSliderHandleMiddle:active {
	background: #ff9933;
}

.RangeSlider .item {
	background-color: #28282a;
	border-right: 1px solid #1e1e20;
}
.RangeSliderMiddle .item .label {
	color: #8e8e91;
	font-size: 10px;
	  font-family: proxima_novasemibold;
}

