@font-face {
    font-family: 'HelveticaMonospacedProRegular';
    src: url('helveticamonospacedpro-rg.eot');
    src: url('helveticamonospacedpro-rg.eot') format('embedded-opentype'),
         url('helveticamonospacedpro-rg.woff') format('woff'),
         url('helveticamonospacedpro-rg.ttf') format('truetype'),
         url('helveticamonospacedpro-rg.svg#HelveticaMonospacedProRegular') format('svg');
}
